* {
    box-sizing: border-box;
    font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 15px;
}

h1,
h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    line-height: 170%;
}

button {
    padding: 16px 34px;
    border: none;
    background-color: #4361ee;
    border-radius: 8px;
    font-size: 1.12rem;
    font-weight: 600;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    max-width: fit-content;
    z-index: 3;
}

section:nth-child(odd) {
    background: #e9f4ff;
}

header .logoContainer {
    width: 60px;
}

header .logoContainer img {
    width: 100%;
}

header .hamburgerMenu {
    font-size: 30px;
}

.highlight {
    border-bottom: 3px solid #4361ee;
}

.introSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    padding-bottom: 12px;
    position: relative;
}

.titleContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
}

.introSection .imageContainer {
    width: 75%;
    position: relative;
    top: 44px;
    z-index: 0;
}

.imageContainer img:first-child {
    width: 100%;
    z-index: 1;
    border-radius: 15px;
}

.imageContainer .dots {
    width: 50%;
    position: absolute;
    z-index: -1;
    bottom: 65%;
    right: 60%;
}

.descriptionSection {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding: 70px 20px;
    gap: 30px;
}

.descriptionSection .upperText {
    display: flex;
    flex-flow: column wrap;
}

.descriptionSection .mainContent img {
    width: 90%;
}

.descriptionSection .mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: #4f5863;
}

.servicesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
}

.servicesGallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.servicesCard {
    padding: 10px;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 0;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    border-radius: 6px;
    background-color: #000;
    gap: 10px;
}

.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    border-radius: 6px;
    opacity: 0.3;
}

.servicesCard:nth-child(n + 5) {
    display: none;
}

.serviceIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.serviceIcon h3 {
    font-size: 1rem;
}

.serviceIcon img {
    width: 20px;
    background-color: #e9f4ff;
    border-radius: 4px;
}

.servicesCard a:link,
.servicesCard a:visited {
    color: #fff;
    text-decoration: none;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 6px;
}

.servicesSection button {
    margin-top: 40px;
}

.clientsSection {
    padding: 70px 20px;
}

.previousQuote,
.nextQuote {
    display: none;
}

.clientQuote {
    background-color: #f4f6fe;
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    color: #4f5863;
}

.clientQuote > img:first-child {
    width: 90%;
}

.quotationMarks {
    width: 15%;
}

section.contactSection {
    background-color: #fff;
}

.contactContainer {
    background-color: #e9f4ff;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.contactInformation {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.infoCard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.insideinfoCard {
    display: flex;
    flex-direction: column;
}

.insideinfoCard h3 {
    font-weight: 400;
    font-size: 1.4rem;
}

.insideinfoCard p {
    color: #4f5863;
}

.infoCard img {
    width: 40px;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 17px;
}

.containerForm {
    width: 100%;
}

.contactSection form {
    width: 100%;
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #fff;
    position: relative;
    top: 50px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
}

.contactSection form input {
    background-color: transparent;
    border: 1px solid #e2e7ed;
    padding: 1rem;
    border-radius: 6px;
}

.blogSection {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.blogGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.blogCard {
    background-color: #e9f4ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.blogCard:nth-child(n + 3) {
    display: none;
}

.blogCard img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.blogCard h3,
.blogCard a {
    font-weight: 400;
    margin: 0 20px;
}

.blogCard a:link,
.blogCard a:visited {
    color: #4361ee;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

footer {
    background-color: #03071b;
    padding: 30px 20px;
    padding-bottom: 20px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #fff;
    gap: 40px;
}

footer a:link,
footer a:visited {
    color: #fff;
    text-decoration: none;
}

footer h3 {
    font-size: 20px;
}

footer > p {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    align-self: baseline;
}

footer .socialMedia {
    display: flex;
    align-items: center;
    gap: 30px;
    order: -2;
}

footer .socialMedia > img {
    max-width: 70px;
    min-width: 62px;
}

footer .socialMedia ul {
    list-style: none;
    display: flex;
    gap: 18px;
    font-size: 24px;
}

footer .contact > div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

footer .explore {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .subscribe {
    display: flex;
    flex-direction: column;
    gap: 18px;
    order: -1;
}

footer .subscribe #emailNews {
    min-height: 48px;
    max-height: 85px;
    padding: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid #7b7c82;
    border-radius: 6px;
    color: #fff;
}

footer .subscribe > p {
    font-size: 13px;
}

footer .subscribeBtn {
    display: flex;
    gap: 6px;
    align-items: center;
    max-width: fit-content;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    background-color: #4361ee;
    color: #fff;
    font-weight: 700;
}

/* TABLETS */

@media screen and (min-width: 768px) {
    h1,
    h2 {
        font-size: 2rem;
    }

    header {
        padding: 60px;
    }

    .introSection {
        flex-wrap: nowrap;
        align-items: center;
        padding: 60px;
    }

    .titleContainer {
        align-items: flex-start;
    }

    .titleContainer h1 {
        text-align: left;
    }

    .introSection .imageContainer {
        width: 80%;
        top: 90px;
    }

    .imageContainer .dots {
        bottom: 75%;
    }

    .descriptionSection {
        padding: 60px;
    }

    .descriptionSection .mainContent img {
        width: 50%;
    }

    .descriptionSection .mainContent {
        text-align: left;
    }

    .servicesSection {
        padding: 60px;
    }

    .servicesGallery {
        grid-template-columns: 1fr 1fr;
    }

    .clientsSection {
        padding: 60px;
    }

    .clientsGallery {
        display: flex;
        align-items: center;
        gap: 26px;
    }

    .previousQuote,
    .nextQuote {
        display: flex;
        padding: 12px;
        font-size: 1.7rem;
        color: #000;
        border-radius: 100%;
        aspect-ratio: 1/1;
        background-color: #f4f6fe;
        font-weight: 200;
    }

    .clientQuote > img {
        width: 60%;
    }

    .quoteContent > img {
        width: 10%;
    }

    .contactContainer {
        justify-content: center;
        padding: 60px;
        padding-bottom: 30px;
    }

    .contactInformation {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .infoCard {
        max-width: 45%;
    }

    .containerForm {
        width: 85%;
    }

    .blogSection {
        padding: 60px;
    }

    .blogGallery {
        flex-wrap: nowrap;
    }

    footer {
        padding: 50px 60px;
        gap: 100px;
    }

    footer > p {
        margin-top: 0;
    }

    footer .socialMedia {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 992px) {
    h1,
    h2 {
        font-size: 2.8rem;
    }

    .introSection {
        gap: 20px;
        margin-bottom: 90px;
        padding: 60px 135px;
    }

    .introSection .imageContainer {
        width: 90%;
    }

    .imageContainer .dots {
        width: 30%;
        right: 75%;
    }

    .descriptionSection {
        padding: 60px 135px;
    }

    .descriptionSection .upperText {
        width: 60%;
    }

    .descriptionSection .mainContent {
        flex-wrap: nowrap;
        align-items: center;
    }

    .descriptionSection .mainContent img {
        width: 35%;
    }

    .descriptionSection .mainParagraph {
        width: 60%;
    }

    .descriptionSection .mainParagraph > p:last-child {
        margin-top: 20px;
    }

    .servicesSection {
        padding: 60px 135px;
    }

    .servicesGallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .servicesCard:nth-child(n + 5) {
        display: flex;
    }

    .clientsSection {
        padding: 60px 135px;
    }

    .clientQuote {
        flex-direction: row;
    }

    .clientQuote > img {
        width: 100%;
    }

    .quoteContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 20px;
    }

    .quoteContent > img {
        width: 5%;
    }

    .contactContainer {
        padding: 60px 135px;
        padding-bottom: 0;
        flex-wrap: nowrap;
        align-items: center;
    }

    .contactInformation {
        flex-direction: column;
        width: 50%;
    }

    .infoCard {
        max-width: 100%;
    }

    .containerForm {
        width: 50%;
    }

    .blogSection {
        padding: 60px 135px;
    }

    .blogCard:nth-child(n + 3) {
        display: flex;
    }

    footer {
        padding: 60px 135px;
        padding-bottom: 20px;
        justify-content: space-between;
    }

    footer .subscribe {
        order: 0;
    }
}
